* {
  box-sizing: border-box;
}

.container {
  display: grid;
  background: #fff;
  font-family: "Helvetica Neue", Helvectica, Arial, serif;
  font-size: 1.067rem;
  color: #666;
  text-align: center;
}
@media screen and (min-width: 37.5rem) {
  .container {
    font-size: calc(1.067rem + .183 * ((100vw - 37.5rem)/ 42.5));
  }
}
@media screen and (min-width: 80rem) {
  .container {
    font-size: 1.25rem;
  }
}

.h1 {
  font-weight: 500;
  color: #384047;
  font-size: 1.29616rem;
  margin: 60px 0 10px;
}
@media screen and (min-width: 37.5rem) {
  .h1 {
    font-size: calc(1.29616rem + 1.14525 * ((100vw - 37.5rem)/ 42.5));
  }
}
@media screen and (min-width: 80rem) {
  .h1 {
    font-size: 2.44141rem;
  }
}

.h4 {
  font-size: 1.13849rem;
}

@media screen and (min-width: 37.5rem) {
  .h4 {
    font-size: calc(1.13849rem + .42401 * ((100vw - 37.5rem)/ 42.5));
  }
}
@media screen and (min-width: 80rem) {
  .h4 {
    font-size: 1.5625rem;
  }
}

.puzzle {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: calc(100vw - 1rem);
  height: calc(100vw - 1rem);
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 37.5rem) {
  .puzzle {
    width: calc(600px + 2vw);
    height: calc(600px + 2vw);
  }
}

.controls {
  padding: 1rem 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

li {
  display: inline-block;
  position: relative;
  border-top: 1px solid;
  border-left: 1px solid; 
}

span,
input[type="number"] {
  display: inline-block;
  position: absolute;
  width: calc(10px + 2vw);
  height: calc(18px + 2vw);
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.game-value input,
.user-value input {
  font-weight: bold;
}

.game-value input {
  color: black;
}
.user-value input {
  color: #2980b9;
}

input[type="number"] {
  font-size: inherit;
  border: none;
  padding: 33%;
  width: 95%;
  height: 95%;
}
                        /* this is ugly, but it creates the grid */
li:nth-child(3n) {
  border-right: 2px solid #888;       /* heavy column */
}
li:nth-child(-n + 9){
  border-top: 2px solid #444;        /* container top */
}
li:nth-child(9n + 1){
  border-left: 2px solid #444;       /* container left */
}
li:nth-child(9n) {
  border-right: 2px solid #444;      /* container right */
}
li:nth-child(n+19) {
  border-bottom: 2px solid #888;      /* heavy row top */
}
li:nth-child(n+28){
  border-bottom: none             /* row cancel */
}
li:nth-child(n+46) {
  border-bottom: 2px solid #888;      /* heavy row bottom */
}
li:nth-child(n+55){
  border-bottom: none             /* row cancel */
}
li:nth-child(n + 73){
  border-bottom: 2px solid #444;       /* container bottom */
}

.btn {
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: inherit;
  border: 1px solid;
  border-radius: 2px;
  background-color: transparent;
}
.btn:focus {
  outline: none;
}
.btn--action{
  color: white;
  background-color: #f90;
  border: none;
}
.btn--easy {
  background-color: #2ecc71;
}
.btn--medium {
  background-color: #e67e22;
}
.btn--hard {
  background-color: #c0392b;
}